@font-face {
  font-family: 'SUITE Variable', sans-serif;
  src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
