@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/esamanru.css';
@import './fonts/pretendard.css';
@import './fonts/tomorrow.css';
@import './fonts/agdasima.css';
@import './fonts/suite.css';

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
  --scrollbar-track: #e0e0e0; /* 스크롤바 트랙 기본 색상 */
  --scrollbar-thumb: #888888; /* 스크롤바 썸 기본 색상 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
    --scrollbar-track: #333333; /* 다크 모드 트랙 색상 */
    --scrollbar-thumb: #bbbbbb; /* 다크 모드 썸 색상 */
  }

  body {
    background: var(--background);
  }
}

/* 기본 폰트 설정 및 스크롤바 설정 */
@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Pretendard', sans-serif;
    /* Webkit 스크롤바 */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555555; /* 호버 시 고정 색상 */
    }
    /* Firefox 스크롤바 */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }
}

/* 사용자 정의 폰트 클래스 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Pretendard */
  .font-pretendard {
    font-family: 'Pretendard', sans-serif;
  }

  /* SUITE */
  .font-suite {
    font-family: 'SUITE', sans-serif;
    font-style: normal;
  }
  .font-suite-bold {
    font-family: 'SUITE', sans-serif;
    font-weight: 800;
  }

  /* esamanru */
  .font-esamanru {
    font-family: 'esamanru', sans-serif;
    font-style: normal;
  }
  .font-esamanru-light {
    font-family: 'esamanru', sans-serif;
    font-weight: 300;
  }
  .font-esamanru-bold {
    font-family: 'esamanru', sans-serif;
    font-weight: 800;
  }

  /* Agdasima */
  .font-agdasima {
    font-family: 'Agdasima', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-agdasima-bold {
    font-family: 'Agdasima', serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Tomorrow */
  .font-tomorrow {
    font-family: 'Tomorrow', serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-tomorrow-bold {
    font-family: 'Tomorrow', serif;
    font-weight: 700;
    font-style: normal;
  }
  .font-tomorrow-black {
    font-family: 'Tomorrow', serif;
    font-weight: 900;
    font-style: normal;
  }
}
