@source "../**/*.{ts,tsx}";

@theme inline {
  /* font size */
  --fs-headline-1: 64px;
  --fs-headline-2: 60px;
  --fs-headline-3: 48px;
  --fs-headline-4: 40px;
  --fs-headline-5: 36px;

  --fs-subtitle-1: 34px;
  --fs-subtitle-2: 32px;
  --fs-subtitle-3: 30px;
  --fs-subtitle-4: 28px;

  --fs-body-1: 26px;
  --fs-body-2: 24px;
  --fs-body-3: 20px;
  --fs-body-4: 18px;

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* line heights */
  --lh-tight: 1.25;
  --lh-normal: 1.35;
  --lh-loose: 1.4;
}

@layer utilities {
  .headline-1 {
    font-size: var(--fs-headline-1);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
  }

  .headline-2-1 {
    font-size: var(--fs-headline-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-tight);
  }

  .headline-2-2 {
    font-size: var(--fs-headline-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
  }

  .headline-3-1 {
    font-size: var(--fs-headline-3);
    font-weight: var(--fw-medium);
    line-height: var(--lh-tight);
  }

  .headline-3-2 {
    font-size: var(--fs-headline-3);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
  }

  .headline-4 {
    font-size: var(--fs-headline-4);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-tight);
  }

  .headline-5 {
    font-size: var(--fs-headline-5);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-tight);
  }

  .subtitle-1 {
    font-size: var(--fs-subtitle-1);
    font-weight: var(--fw-medium);
    line-height: var(--lh-normal);
  }

  .subtitle-2-1 {
    font-size: var(--fs-subtitle-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-normal);
  }

  .subtitle-2-2 {
    font-size: var(--fs-subtitle-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-normal);
  }

  .subtitle-3 {
    font-size: var(--fs-subtitle-3);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-normal);
  }

  .subtitle-4-1 {
    font-size: var(--fs-subtitle-4);
    font-weight: var(--fw-medium);
    line-height: var(--lh-normal);
  }

  .subtitle-4-2 {
    font-size: var(--fs-subtitle-4);
    font-weight: var(--fw-medium);
    line-height: var(--lh-normal);
  }

  .body-1 {
    font-size: var(--fs-body-1);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-loose);
  }

  .body-2 {
    font-size: var(--fs-body-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
  }

  .body-2-1 {
    font-size: var(--fs-body-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
  }

  .body-2-2 {
    font-size: var(--fs-body-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
  }

  .body-3 {
    font-size: var(--fs-body-3);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
  }

  .body-4-1 {
    font-size: var(--fs-body-4);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
  }

  .body-4-2 {
    font-size: var(--fs-body-4);
    font-weight: var(--fw-bold);
    line-height: var(--lh-loose);
  }
}

*:focus {
  outline: none !important;
}
