@source "../**/*.{ts,tsx}";

@theme inline {
  /* Primary */
  --color-primary-pink: #ff2b3d;
  --color-pink-button-press: #cc202f;

  /* Fooding */
  --color-fooding-yellow: #ffcc25;
  --color-fooding-green: #0bb76d;
  --color-fooding-blue: #00afe8;
  --color-fooding-purple: #6366f1;
  --color-fooding-purple-press: #3f42b7;

  /* Interaction */
  --color-error-red: #e11300;
  --color-info-blue: #007df8;
  --color-attention-yellow: #f7c716;
  --color-success-green: #2b9e1e;

  /* Grays */
  --color-gray-1: #f1f3f5;
  --color-gray-2: #ededed;
  --color-gray-3: #e2dfdf;
  --color-gray-4: #bebebe;
  --color-gray-5: #767676;
  --color-gray-6: #292929;
  --color-gray-7: #f9fafb;
  --color-gray-8: #dde1eb;

  /* Base */
  --color-white: #ffffff;
  --color-black: #111111;

  /* Animation Timings */
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

  /* Animation Utilities */
  --animate-in: enter var(--tw-duration, 150ms) var(--tw-ease, ease);
  --animate-out: exit var(--tw-duration, 150ms) var(--tw-ease, ease);

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
        scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
        scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
        rotate(var(--tw-exit-rotate, 0));
    }
  }

  --font-family-sans: var(--font-pretendard), sans-serif;

  @keyframes toast-enter {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes toast-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
}

@utility toast-enter {
  animation: toast-enter var(--ease-out-cubic);
}

@utility toast-exit {
  animation: toast-exit var(--ease-out-cubic);
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-out-to-bottom {
  --tw-exit-translate-y: 100%;
}

@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
