@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/fonts/esamanru.css';
@import '../../public/fonts/pretendard.css';
@import '../../public/fonts/tomorrow.css';
@import '../../public/fonts/agdasima.css';
@import '../../public/fonts/suite.css';

/* 기본 폰트 설정 */
@layer base {
  body {
    font-family: 'Pretendard', 'sans-serif';
  }
}

/* 사용자 정의 폰트 클래스 */
@layer utilities {
  /* Pretendard */
  .font-pretendard {
    font-family: 'Pretendard', sans-serif;
  }

  /* SUITE */
  .font-suite {
    font-family: 'SUITE', sans-serif;
    font-style: normal;
  }
  .font-suite-bold {
    font-family: 'SUITE', sans-serif;
    font-weight: 800;
  }

  /* esamanru */
  .font-esamanru {
    font-family: 'esamanru', sans-serif;
    font-style: normal;
  }
  .font-esamanru-light {
    font-family: 'esamanru', sans-serif;
    font-weight: 300;
  }
  .font-esamanru-bold {
    font-family: 'esamanru', sans-serif;
    font-weight: 800;
  }

  /* Agdasima */
  .font-agdasima {
    font-family: 'Agdasima', serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-agdasima-bold {
    font-family: 'Agdasima', serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Tomorrow */
  .font-tomorrow {
    font-family: 'Tomorrow', serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-tomorrow-bold {
    font-family: 'Tomorrow', serif;
    font-weight: 700;
    font-style: normal;
  }
  .font-tomorrow-black {
    font-family: 'Tomorrow', serif;
    font-weight: 900;
    font-style: normal;
  }
}
